body { 
	background-color: whitesmoke; 
	color: #333; 
	padding-top: 40px;
}

h1 {
	color: #E56717;
	text-shadow: darkgray 0em 0em 0.2em;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: block;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#top_level_wrapper
{
    margin-left: auto;
    margin-right: auto;
}

a[id ~= 'create_project']{
    padding-left:25px;
    background: transparent url(/images/create.png) no-repeat scroll left top;	
	background-size: 20px 20px;
}
a[id ~= 'view_project'], a[id ~= 'view_lifecycles']{
	padding-left:25px;
    background: transparent url(/images/view.png) no-repeat scroll left top;	
	background-size: 20px 20px;
}
.home a:hover {
	color: black;
}

.actions {
	display: inline;
}

#project_phase_details_container {
  /*visibility: hidden;*/
  border:  1px solid black;
  padding:  10px 10px 20px 10px;
}

table
{
    font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}

td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}


th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
    background-color:#BCC7FF;
}

tr
{
    background-color:#E9ECFF;
}

.hidden
{
    display: none;
}
#project_phases tbody tr.active {
    background-color: darkgray;
}
#home_header {
	text-align: center;
/*	font-size: 2em;*/
}
#home_buttons {
	text-align: center;
	margin-bottom: 5em;
}
.splash_button {
	display: inline-block;
	width: 95px;
	height: 100px;
	text-decoration: none;
	border: 1px solid black;
	padding: 6px;
	margin: 10px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
	text-align: center;
}
.splash_button:hover {
	color: black;
	background-color: silver;
}
.splash_button img {
	width: 90px;
	height: 50px;
}

.dialog_field label
{
	width: 130px;
}

#unit_of_measure_name{
    color: black;
    font-size: 15px;
    margin: 0.5em;
    padding: 10px 4px;
    line-height: 19px;
}

.center
{
     text-align:center
}

.small-text
{
     font-size:xx-small
}



/* Overrides for bootstrap twitter */
.topbar-inner, .topbar .fill {
	 background-color: #00548E;
	 background-image: -moz-linear-gradient(center top , #00548E, #6195B9);
}
.row {
	background-color: #F2F2F2;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	padding-top: 15px;
	padding-bottom: 15px;
}

footer {
	margin-top: 0;
}
