html {
	background: #206a6e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyMDZhNmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiMwMTM0MTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-radial-gradient(center, ellipse cover,  #206a6e 0%, #013414 99%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#206a6e), color-stop(99%,#013414)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #206a6e 0%,#013414 99%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #206a6e 0%,#013414 99%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #206a6e 0%,#013414 99%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  #206a6e 0%,#013414 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206a6e', endColorstr='#013414',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	
}
body { 
	background:inherit;
	background: url(/images/squares.png) no-repeat center top;
	width: 100%;
	display: table;
	
	color: #333; 
	background-color: transparent;
	padding-top: 120px;
	font-family: 'Coda', cursive;
}

h1 {
  font-size: 18px;
  text-align: left;
  border-style:solid;
  border-bottom-width:1px;
  border-bottom-color:#082638;
	margin-bottom: 3px;
}

label, input, select, textarea {
	font-family: 'Coda', cursive;
}

select {
	width: 280px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: block;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#top_level_wrapper
{
    margin-left: auto;
    margin-right: auto;
}
.active_tab {
	background: #9ab200; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM5YWIyMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiM1YTliMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-radial-gradient(center, ellipse cover,  #9ab200 0%, #5a9b00 99%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9ab200), color-stop(99%,#5a9b00)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #9ab200 0%,#5a9b00 99%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #9ab200 0%,#5a9b00 99%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #9ab200 0%,#5a9b00 99%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  #9ab200 0%,#5a9b00 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ab200', endColorstr='#5a9b00',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	
	color: white !important;
	border-radius: 1px 1px 1px 1px;
	text-shadow: .1em .1em .05em black !important;
	border: 1px solid darkgray;
}

a[id ~= 'create_project']{
    padding-left:25px;
    background: transparent url(/images/create.png) no-repeat scroll left top;	
	background-size: 20px 20px;
}
a[id ~= 'view_project'], a[id ~= 'view_lifecycles']{
	padding-left:25px;
    background: transparent url(/images/view.png) no-repeat scroll left top;	
	background-size: 20px 20px;
}
.home a:hover {
	color: black;
}

.actions {
	display: inline;
}

#project_phase_details_container {
  /*visibility: hidden;*/
  /*border:  2px solid;*/
  /*padding:  10px 10px 20px 10px;*/
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
   /*border-radius: 5px;*/
   /*border-color: black;*/
   /*background-color: lightgray;*/
   padding-bottom: 20px;
}

#content_title_container {
  /*visibility: hidden;*/
  /*padding:  10px 10px 20px 10px;*/
   margin-bottom: 5px;
   padding-left: 10px;
   text-align: left;
   /*background-color: lightgray;*/
}

.hidden
{
    display: none;
}
#project_phases tbody tr.active {
/*    background-color: #EF6930;*/
	background-color: #FF9B5D;
}
#home_header {
	text-align: center;
/*	font-size: 2em;*/
}
#home_buttons {
	text-align: center;
	margin-bottom: 5em;
}
.splash_button {
	display: inline-block;
	width: 95px;
	height: 100px;
	text-decoration: none;
	border: 1px solid black;
	padding: 6px;
	margin: 10px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
	text-align: center;
	background-color: whitesmoke;
}
.splash_button:hover {
	color: black;
	background-color: silver;
}
.splash_button img {
	width: 90px;
	height: 50px;
}

#dialog {
	margin-bottom: 15px;
}

.dialog_field label
{
	width: 130px;
}

#unit_of_measure_name{
    color: black;
    font-size: 15px;
    margin: 0.5em;
    padding: 10px 14px;
    line-height: 19px;
}

.center
{
     text-align:center
}

.small-text
{
	font-size:x-small;
	color: white;
}

#view_historical_data
{
	float:right;
	margin-top:-20px;
}

/* Overrides for bootstrap twitter */

.container {
	width: 640px;
}

.container:before, .container:after {
	display: block;
}
/*.topbar-inner, .topbar .fill {
	 background-color: #082638;
	 background-image: -moz-linear-gradient(center top , #082638, #082638);
}*/
.topbar {
	height: 50px;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	z-index: 10000;
	overflow: visible;
	font-family: 'Coda', cursive;
	font-size: 1.2em;
}
.topbar-inner, .topbar .fill {
	background-color: inherit;
	background-image: none !important;
	-webkit-box-shadow: none;
	box-shadow: none;	
}

.topbar div > ul, .nav {
	float: right;
	padding-top: 5px;
}

.topbar div > ul a, .nav a { 
	padding: 2px 5px 5px;
}

.brand {
/*	font-family: 'Artifika', serif;*/
/*	font-family: 'Gloria Hallelujah', cursive;*/
/*	font-family: 'Slackey', cursive;*/
/*	font-family: 'Bevan', serif;*/
/*	font-family: 'Coda Caption', sans-serif;*/
/*	font-family: 'Sigmar One', sans-serif;*/
/*	font-family: 'Goblin One', cursive;*/
	font-family: 'Coda', cursive;
	
	font-size: 2em !important;
	padding: 0px 5px 0 20px !important;
/*	line-height: 1.3em !important;*/
}

h3 {
	font-size: 1.2em;
}

a {
	color: #EF6930;
}

.topbar h3 a:hover, .topbar .brand:hover, .topbar ul .active > a {
	background-color: transparent;
	
}

.btn.primary {
	background-color: #679106;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#9AB200), to(#679106));
	background-image: -moz-linear-gradient(top, #9AB200, #679106);
	background-image: -ms-linear-gradient(top, #9AB200, #679106);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9AB200), color-stop(100%, #679106));
	background-image: -webkit-linear-gradient(top, #9AB200, #679106);
	background-image: -o-linear-gradient(top, #9AB200, #679106);
	background-image: linear-gradient(top, #9AB200, #679106);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9AB200', endColorstr='#9AB200', GradientType=0);

	font-family: 'Coda', cursive;
}

.btn {
	background-color: #BB4400;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#D8863B), to(#BB4400));
	background-image: -moz-linear-gradient(top, #D8863B, #BB4400);
	background-image: -ms-linear-gradient(top, #D8863B, #BB4400);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D8863B), color-stop(100%, #BB4400));
	background-image: -webkit-linear-gradient(top, #D8863B, #BB4400);
	background-image: -o-linear-gradient(top, #D8863B, #BB4400);
	background-image: linear-gradient(top, #D8863B, #BB4400);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8863B', endColorstr='#D8863B', GradientType=0);
	
	font-family: 'Coda', cursive;
	color: white;
	border: 1px solid #888;
	border-bottom-color: #777;
}

.btn:hover {
	color: silver !important;
}

label.error {
	float: none;
	padding-left: 15px;
	color: red;
}
input.error {
	border-color: rgba(196, 60, 53, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(196, 60, 53, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(196, 60, 53, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(196, 60, 53, 0.6);
	
}

input:focus, textarea:focus {
	/* TODO - override these */
	border-color: rgba(28, 70, 99, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(28, 70, 99, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(28, 70, 99, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(28, 70, 99, 0.6);
}

.dialog_field label {
	width: 90px;
	padding-right: 10px;
}

.dialog_field select {
	width: 220px;
}

.description {
	margin-left: 15px;
	padding-bottom: 18px;
}
.row {
/*	background-color: #F2F2F2;*/
/*	background-color: #f2f5a9;*/
	
	
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 99%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(99%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 99%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 99%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 99%); /* IE10+ */
background: radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	
	
	
	
	
	
	padding-top: 15px;
	padding-bottom: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border: 1px solid #F7B50B;
    /*-moz-box-shadow: 0 0 5px 5px #888;*/
    /*-webkit-box-shadow: 0 0 5px 5px#888;*/
    /*box-shadow: 0 0 5px 5px #888;*/
	margin-left: 0;
}

table tbody tr td {
	border-top-color: #4B4C2C;
}

.show_all tbody tr:first-child td {
	border-top: none;
}

.modal-footer {
	background-color: transparent;
	border-top: none !important;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

footer {
	margin-top: 0;
    text-color: white;
	border-top: none;
}

.content-container{

}

.content-box{
   border:  1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
   border-radius: 5px;
   border-color: black;
   /*background-color: lightgray;*/
   float: left;
}

.dashboard-box
{
   width: 250px;
   margin: 23px;
}

.phase-details
{
   width: 560px;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 25px;
}


.content-box-title{
   border-top:  1px solid;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius:5px;
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-topright: 5px;
   border-top-radius: 5px;
   border-color: transparent;

   font-family: 'Coda', cursive;
   border-bottom:  1px solid;
   padding-top: 10px;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 10px;
   background: #4B4C2C;
    /*background: -moz-radial-gradient(center center , ellipse farthest-corner, #206A6E 0%, #013414 99%) repeat scroll 0 0 transparent;*/
   color: white;
}

.content-box-title a{
    float: right;
    color: white;
}

.content-box-body{
   margin: 10px;
}