body { 
	background-color: rgba(28,70,99,49);
	color: #333; 
	padding-top: 50px;
    background-image: linear-gradient(bottom, rgb(8,38,56) 93%, rgb(28,70,99) 49%);
    background-image: -o-linear-gradient(bottom, rgb(8,38,56) 93%, rgb(28,70,99) 49%);
    background-image: -moz-linear-gradient(top, rgb(8,38,56) 10%, rgb(28,70,99) 49%);
    background-image: -webkit-linear-gradient(bottom, rgb(8,38,56) 93%, rgb(28,70,99) 49%);
    background-image: -ms-linear-gradient(bottom, rgb(8,38,56) 93%, rgb(28,70,99) 49%);
    background-image: -webkit-gradient(linear, 
									   left bottom, 
									   left top, 
									   color-stop(0.93, rgb(8,38,56)), 
									   color-stop(0.49, rgb(28,70,99)));
	background-repeat: no-repeat;
	
	
		font-family: 'Arvo', serif !important;
/*		font-family: 'Comfortaa', cursive !important;*/
/*		font-family: 'Droid Sans', sans-serif !important;*/
/*		font-family: 'Ovo', serif !important;*/

	
}

h1 {
	/*color: #E56717;*/
	/*text-shadow: darkgray 0em 0em 0.2em;*/
    font-size: 18px;
    text-align: left;
    border-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#082638;
/*    padding-left: 10px;*/
	margin-bottom: 3px;
	
}

label, input, select, textarea {
	font-family: 'Arvo', serif;
}

select {
	width: 280px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: block;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#top_level_wrapper
{
    margin-left: auto;
    margin-right: auto;
}
.active_tab {
	background-color: #F2F2F2;
	color: black !important;
	border-radius: 2px 2px 0 0;
}

a[id ~= 'create_project']{
    padding-left:25px;
    background: transparent url(/images/create.png) no-repeat scroll left top;	
	background-size: 20px 20px;
}
a[id ~= 'view_project'], a[id ~= 'view_lifecycles']{
	padding-left:25px;
    background: transparent url(/images/view.png) no-repeat scroll left top;	
	background-size: 20px 20px;
}
.home a:hover {
	color: black;
}

.actions {
	display: inline;
}

#project_phase_details_container {
  /*visibility: hidden;*/
  border:  2px solid;
  padding:  10px 10px 20px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
   border-radius: 5px;
   border-color: black;
   background-color: lightgray;
}

#content_title_container {
  /*visibility: hidden;*/
  /*padding:  10px 10px 20px 10px;*/
   margin-bottom: 5px;
   padding-left: 10px;
   text-align: left;
   /*background-color: lightgray;*/
}


table
{
/*    font-family: verdana,arial,sans-serif;*/
/*	font-size:11px;*/
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}

td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}


th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
    background-color:#BCC7FF;
}

tr
{
    background-color:#E9ECFF;
}

.hidden
{
    display: none;
}
#project_phases tbody tr.active {
    background-color: darkgray;
}
#home_header {
	text-align: center;
/*	font-size: 2em;*/
}
#home_buttons {
	text-align: center;
	margin-bottom: 5em;
}
.splash_button {
	display: inline-block;
	width: 95px;
	height: 100px;
	text-decoration: none;
	border: 1px solid black;
	padding: 6px;
	margin: 10px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
	text-align: center;
	background-color: whitesmoke;
}
.splash_button:hover {
	color: black;
	background-color: silver;
}
.splash_button img {
	width: 90px;
	height: 50px;
}

.dialog_field label
{
	width: 130px;
}

#unit_of_measure_name{
    color: black;
    font-size: 15px;
    margin: 0.5em;
    padding: 10px 4px;
    line-height: 19px;
}

.center
{
     text-align:center
}

.small-text
{
     font-size:x-small;
     color: white;
}



/* Overrides for bootstrap twitter */

.container {
	width: 640px;
}

.container:before, .container:after {
	display: block;
}
/*.topbar-inner, .topbar .fill {
	 background-color: #082638;
	 background-image: -moz-linear-gradient(center top , #082638, #082638);
}*/
.topbar {
	height: 50px;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	z-index: 10000;
	overflow: visible;
}
.topbar-inner, .topbar .fill {
	background-color: inherit;
	background-image: none !important;
	-webkit-box-shadow: none;
	box-shadow: none;	
}

.topbar div > ul, .nav {
	float: right;
}

.brand {
/*	font-family: 'Artifika', serif;*/
/*	font-family: 'Gloria Hallelujah', cursive;*/
/*	font-family: 'Slackey', cursive;*/
/*	font-family: 'Bevan', serif;*/
/*	font-family: 'Coda Caption', sans-serif;*/
/*	font-family: 'Sigmar One', sans-serif;*/
	font-family: 'Goblin One', cursive;
	font-size: 1.2em !important;
	line-height: 1.3em !important;
}
.btn.primary {
	background-color: #547700;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#679106), to(#537700));
	background-image: -moz-linear-gradient(top, #679106, #537700);
	background-image: -ms-linear-gradient(top, #679106, #537700);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #679106), color-stop(100%, #537700));
	background-image: -webkit-linear-gradient(top, #679106, #537700);
	background-image: -o-linear-gradient(top, #679106, #537700);
	background-image: linear-gradient(top, #679106, #537700);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#679106', endColorstr='#679106', GradientType=0);
	
}

label.error {
	float: none;
	padding-left: 15px;
	color: red;
}

input:focus, textarea:focus {
	/* TODO - override these */
	border-color: rgba(28, 70, 99, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(28, 70, 99, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(28, 70, 99, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(28, 70, 99, 0.6);
}

.row {
	background-color: #F2F2F2;
	padding-top: 15px;
	padding-bottom: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*-moz-box-shadow: 0 0 5px 5px #888;*/
    /*-webkit-box-shadow: 0 0 5px 5px#888;*/
    /*box-shadow: 0 0 5px 5px #888;*/
}

.modal-footer {
	background-color: transparent;
	border-top: none !important;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

footer {
	margin-top: 0;
    text-color: white;
	border-top: none;
}

.content-container{

}