
<div id="project_home" class="home">
	<p><%= link_to 'Create Project', new_project_path, :id => "create_project" %></p>
	<p><%= link_to 'View Projects', projects_path, :id => "view_project" %></p>
	
</div>