<h1>All projects</h1>

<table class="condensed-table show_all">
<% @projects.each do |project| %>
  <tr>
    <td><%=  link_to project.name, project %></td>
    <td><%= project.description %></td>
  </tr>
<% end %>
</table>
<%= link_to "Create Project", new_project_path, :class => "btn primary" %>
