<h1>All projects</h1>

<table>
<% @projects.each do |project| %>
  <tr>
    <td><%=  link_to project.name, project %></td>
    <td><%= project.description %></td>
  </tr>
<% end %>
</table>

<br />
<%= button_to "Cancel", {:controller => "projects", :action => "home"}, :class => "btn" %>
