<h1>All lifecycles</h1>

<table class="condensed-table show_all">
<% @lifecycles.each do |lifecycle| %>
  <tr>
    <td><%= link_to lifecycle.name, lifecycle %></td>
    <td><%= lifecycle.description %></td>
  </tr>
<% end %>
</table>

<% if @current_user.role?(:admin) %>
    <%= link_to "Create Lifecycle", new_lifecycle_path, :class => "btn primary" %>
<% end %>
