<div class="topbar">
	<div class="fill">
		<div class="container">
			<a class="brand" href="/">Process Enactment Tool</a>
			<% if @current_user %>
			<ul class="nav">
        <li>
					<a href="/" id = "home" title="go to homepage">HOME</a>
				</li>
				<li>
					<a href="/projects" id="pm" title="go to the Project Management Home screen">PROJECTS</a>
				</li>
				<li>
					<a href="/lifecycles" id="lm" title="go to the Lifecycles Management Home screen">LIFECYCLES</a>
				</li>
				<% if @current_user.role?(:admin) %>
  				<li>
            <a href="/users" id="users" title="go to the Users Management Home screen">USERS</a>
          </li>
        <% end %>
			</ul>
			<% end %>
      </div>
	</div>
</div>