<div class="topbar">
	<div class="fill">
		<div class="container">
			<a class="brand" href="/">Process Enactment Tool</a>
			<ul class="nav">
                <li>
					<a href="/" title="go to homepage">Home</a>
				</li>
				<li>
					<a href="/projects" id="pm" title="go to the Project Management Home screen">Projects</a>
				</li>
				<li>
					<a href="/lifecycles" id="lm" title="go to the Lifecycles Management Home screen">Lifecycles</a>
				</li>
			</ul>
		</div>
	</div>
</div>