<div class="topbar">
	<div class="fill">
		<div class="container">
			<a class="brand" href="/">Process Enactment Tool</a>
			<ul class="nav">
				<li>
					<a href="/projects" title="go to the Project Management Home screen">Projects</a>
				</li>
				<li>
					<a href="/lifecycles" title="go to the Lifecycles Management Home screen">Lifecycles</a>
				</li>
			</ul>
		</div>
	</div>
</div>